h1::first-letter{
	color: #D5B93E;
}

h1{
	margin-top: auto;
	color: #ffffff;
	font-size:150px;
	font-weight: bold;
}

html, 
.homeJuegos {
    height: 100%;
    width: 100%;
    background-color: #22201C;
    overflow: -moz-scrollbars-vertical;
    overflow-y: auto;
}