html, 
.bodyRegistrado {
    height: 100%;
    width: 100%;
    background-color: #22201C;
    overflow: -moz-scrollbars-vertical;
    overflow-y: auto;
}

.divC {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: justify;
  font-family: 'Signika', sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
}

.mr {
  margin-right: 20px;
}

p.titulo{
  margin-top: 35px;
  margin-bottom: 35px;
  color: #D5B93E;
  font-family: 'Signika', sans-serif;
  font-size: 45px;
  background-color: #22201C;
}

.color-nav{
  background-color: #D5B93E;
}

.button {
  display: inline-block;
  border-radius: 16px;
  background-color: #D5B93E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}