
.principal{
	background: #22201C;
}

 body{
 	overflow: hidden;
 }

 
 .containerUsuarios{
 	position: relative;
	padding: 10%;
 	width: 90%;
	height: 650px;
 	border-radius: 10px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
	margin-left:5%;
	margin-left: 55;
	background-color:#bd4040;
 }

 .formulario{
	margin-top: 18%;
	width:100%;
	height: 65%;
	position: absolute;
	background-color: #34c86d;
 }

 h1::first-letter{
	color: #D5B93E;
}

 h1{
	color: #ffffff;
	font-size:45px;
}

 .General{
	margin: 40px;
	position: center;
	margin-right: 100px;
	width: 500px;
	background-color: darkorchid;
 }
 
 label{
	 color: #ffffff;
 }

 .logoUsuarios{
	width:99%;
	height: 32%;
	margin-bottom: 36%;
	position: absolute;
	background-color: #43b0be;
 }
 
 .logo2{
	width:50%;
	height: 46%;
	justify-content: left;
	margin-bottom: 30%;	
	background-color: #e242cd;
 }

 .Regresar{
	background-color: #bacc17;
	width:99%;
	height: 18%;
	
	position:absolute;
 }

 .Usuario{
	width:120%;
	height: 46%;
	margin-bottom: 30%;
	background-color: #22201C;
 }

 .botones{
	width: 80%;
	margin-bottom: 35%;
	background-color: #22201C;
	display: flex;
	justify-content: center;
	position:absolute;
 }
